*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: antiquewhite;
}

@media only screen and (min-width: 961px) {
    
    .container .heading{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin: 1rem 0;
        color: #fff;
    }
    
    .livres-content{
        margin: 2rem 4rem;
        min-height: 80vh;
    }
    
    .livres {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        margin-top: 3rem;
    }
      
    .livres .livre .banner{
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222;
        border-radius: 5px;
        color: #fff;
    }
    
    .livres .livre a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        color: #222;
        text-decoration: none;
    }
    
    .audio-container{
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    
    .audio-container  .box{
        height: 16rem;
        width: 80%;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        background-color: bisque;
        box-shadow: 0 .5rem 1rem #00000030;
        margin: 2rem;
    }
    
    .box .banner{
        width: 25%;
        background-color: #000;
        height: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem 0 0 1rem;
        font-size: 30px;
    }
    
    .audio{
        width: 75%;
    }
    
    .audio audio{
        width: 100%;
        outline: none;
        background: none !important;
    }
    
    .audio audio::-webkit-media-controls-enclosure{
        background: none !important;
    }
    
    .livres-content a{
        color: #000;
    }

    input#search{
        width: 50%;
        height: 3rem;
        display: flex;
        justify-content: center;
        border: #00000014;
        box-shadow: 0 .5rem 1rem #00000030;
        border-radius: .5rem;
        padding: 1rem;
        margin: 3rem auto;
    }

}

@media only screen and (max-width: 450px) {
    .container .heading{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 1rem 0;
        color: #fff;
    }

    .livres-content{
        margin: 2rem;
        min-height: 80vh;
    }
    
    .livres {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        margin-top: 3rem;
    }
      
    .livres .livre .banner{
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222;
        border-radius: 5px;
        color: #fff;
    }
    
    .livres .livre a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        color: #222;
        text-decoration: none;
        margin: 0 !important;
    }
    
    .audio-container{
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    
    .audio-container  .box{
        height: 10rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        background-color: bisque;
        box-shadow: 0 .5rem 1rem #00000030;
        margin: 2rem;
    }
    
    .box .banner{
        width: 100%;
        background-color: #000;
        height: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem 1rem 0 0;
        font-size: 20px;
    }
    
    .audio{
        width: 100%;
    }
    
    .audio audio{
        width: 100%;
        outline: none;
        background: none !important;
    }
    
    .audio audio::-webkit-media-controls-enclosure{
        background: none !important;
    }
    
    .livres-content a{
        color: #000;
        margin-left: 2rem;
    }

    input#search{
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        border: #00000014;
        box-shadow: 0 .5rem 1rem #00000030;
        border-radius: .5rem;
        padding: 1rem;
        margin: 3rem auto;
    }
}

.container{
    background-color: #222;
    padding: 1rem 0;
}

.livres .livre{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
}


footer{
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
}

input:focus{
    outline: none;
}

